@using Microsoft.AspNetCore.Identity
@using Fitness_First.Areas.Identity.Data

@inject SignInManager<Fitness_FirstUser> SignInManager
@inject UserManager<Fitness_FirstUser> UserManager

<!-- Add the CSS file reference -->
<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


<div class="login-partial-container">
    <ul class="navbar-nav">      

        @if (SignInManager.IsSignedIn(User))
        {
            var user = await UserManager.FindByNameAsync(User.Identity.Name);
            var memberName = user?.MemberName;

            <li>
                <a id="cart" class="nav-link" href="/Cart">
                    <img src="~/images/cart.png" alt="Cart Icon" width="30" height="30" />
                </a>
            </li>

            <li>
                <a class="nav-link" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello, @memberName</a>
            </li>
            <li>
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link">Logout</button>
                </form>
            </li>
            
        }
        else
        {
            <li>
                <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li>
                <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
</div>
