<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fitness-First</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Font Awesome - ICONS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

   

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <!-- Dropdown Box -->
                <div class="dropdown ml-auto">
                    <a class="btn btn-secondary dropdown-toggle no-fill" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="~/images/menu.png" alt="Menu" class="menu-image" />
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="ViewPackagesEnrolled">Enrollments</a>
                        <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="ViewPackages">Packages</a>
                        <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="ViewProducts">Products</a>
                        <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="ViewEquipments">Gym Equipments</a>
                        <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="PurchaseSummary">Purchase Summary</a>
                    </div>
                </div>
                <!-- End Dropdown Box -->
                <!-- Fitness_First logo with Home and Contact Us links -->
                <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="Index">
                    Fitness-First
                </a>

                <!-- Add "Home" and "Contact Us" links directly within the navbar -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Contact Us</a>
                    </li>
                </ul>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <partial name="_LoginPartial" /> <!-- Include Login Page Navigation Bar into this page template -->
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br>
    <br />
    <br></br>
    <footer class="footer-distributed">
        <div class="footer-left">
            <h3>Fitness<span>First</span></h3>
            <p class="footer-links">
                <a href="#" class="link-1">Home</a>
                <a href="#">About US</a>
                <a href="#">Contact Us</a>
                <a href="#">Login</a>
                <a href="#">Register</a>
            </p>
            <p class="footer-company-name"> Copyright © 2023, Fitness First. All Rights Reserved.</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Jalan Teknologi 5,</span> Taman Teknologi Malaysia, 57000 Kuala Lumpur, </p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+03-8729-2862</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:contact@fitness-first.com">contact@fitness-first.com</a></p>
            </div>
        </div>

        <div class="footer-right">
            <p class="footer-company-about">
                <span>Subscribe For Newsletters</span>
                Change for the better. Join now to enjoy our new membership offer and get 30 days free gym access.
            </p>
            <div class="footer-input-box">
                <!-- Added div for the input box -->
                <input type="email" placeholder="Enter your email" class="input-email"> <!-- Input box for email -->
            </div>
            <br />
            <div class="footer-subscribe-button">
                <button type="button" class="btn-subscribe">Subscribe</button>
            </div>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
