@model Fitness_First.Models.Products

@{
    ViewData["Title"] = "Add New Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<center><h1>Add New Product</h1></center>

<div class="container mt-4">
    <form method="post" asp-action="AddProductsPostRequest" asp-asp-controller="AdminController">
        <div class="form-group">
            <label asp-for="ProductName"></label>
            <input class="form-control" asp-for="ProductName" />
            <span asp-asp-validation-for="ProductName"></span>
        </div>

        <div class="form-group">
            <label asp-for="ProductPrice"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">RM</span>
                </div>
                <input type="number" step="0.01" class="form-control" asp-for="ProductPrice" />
            </div>
            <span asp-validation-for="ProductPrice"></span>
        </div>

        <div class="form-group">
            <label asp-for="ProductType"></label>
            <select class="form-control" asp-for="ProductType">
                <option value="Snacks">Snacks</option>
                <option value="Drinks">Drinks</option>
                <option value="Supplements">Supplements</option>
            </select>
            <span asp-validation-for="ProductType"></span>
        </div>

        <div class="form-group">
            <label asp-for="ProductPicturePath"></label>
            <input type="file" class="form-control-file" asp-for="ProductPicturePath" />
            <span asp-validation-for="ProductPicturePath"></span>
        </div>

        
        <center>
            <button type="submit" class="btn btn-primary">Add Product</button>
        </center>
    </form>
</div>