@model Fitness_First.Models.GymPackages

@{
    ViewData["Title"] = "Add New Packages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<center><h1>Add New Package</h1></center>
<!-- Add your admin-specific content here -->

<div class="container mt-4">
    <form method="post" asp-action="AddPackagesPostRequest" asp-controller="Admin" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="PackageName"></label>
            <input class="form-control" asp-for="PackageName" />
            <span asp-validation-for="PackageName"></span>
        </div>

        <div class="form-group">
            <label asp-for="PackagePrice"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">RM</span>
                </div>
                <input type="number" step="0.01" class="form-control" asp-for="PackagePrice" />
            </div>
            <span asp-validation-for="PackagePrice"></span>
        </div>

        <div class="form-group">
            <label asp-for="InstructorName"></label>
            <input class="form-control" asp-for="InstructorName" />
            <span asp-validation-for="InstructorName"></span>
        </div>

        <div class="form-group">
            <label asp-for="PackagePicturePath"></label>
            <input type="file" class="form-control-file" id="packagePicture" name="packagePicture" />
            <span asp-validation-for="PackagePicturePath"></span>
        </div>


        <div class="form-group">
            <label>Time Slots <b>(8 Sessions Per Month):</b></label>
            <br /> <br />
            <ul>
                <li>
                    <h4>Week 1</h4>
                    <label>Slot 1:</label>
                    <input type="datetime-local" class="form-control" asp-for="Session1" required>
                    <label>Slot 2:</label>
                    <input type="datetime-local" class="form-control" asp-for="Session2" required>
                    <br>
                </li>
                <li>
                    <h4>Week 2</h4>
                    <label>Slot 1:</label>
                    <input type="datetime-local" class="form-control" asp-for="Session3" required>
                    <label>Slot 2:</label>
                    <input type="datetime-local" class="form-control" asp-for="Session4" required>
                    <br>
                </li>
                <li>
                    <h4>Week 3</h4>
                    <label>Slot 1:</label>
                    <input type="datetime-local" class="form-control" asp-for="Session5" required>
                    <label>Slot 2:</label>
                    <input type="datetime-local" class="form-control" asp-for="Session6" required>
                    <br>
                </li>
                <li>
                    <h4>Week 4</h4>
                    <label>Slot 1:</label>
                    <input type="datetime-local" class="form-control" asp-for="Session7" required>
                    <label>Slot 2:</label>
                    <input type="datetime-local" class="form-control" asp-for="Session8" required>
                    <br>
                </li>
            </ul>
        </div>
        <center>
            <button type="submit" class="btn btn-primary">Add Package</button>
        </center>
    </form>
</div>