@{
    ViewData["Title"] = "Admin HomePage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<center><h1>Welcome to the Admin Dashboard!</h1>
<br /><br />
<br /><br />
</center>
<!-- Add your admin-specific content here -->