@{
    ViewData["Title"] = "Admin HomePage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<center><h1>Welcome to the Admin Dashboard!</h1>
<br /><br />
<a asp-action="customizedMessage" asp-controller="SNSFitnessFirstController1">Admnin BroadCast Message Function</a>
<br /><br />
</center>
<!-- Add your admin-specific content here -->