@model IEnumerable<Fitness_First.Models.GymPackages>

@{
    ViewData["Title"] = "View Packages";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<style>
    .card {
        position: relative;
        overflow: hidden;
        transition: all 0.3s;
    }

        .card:hover {
            filter: grayscale(100%);
        }

    .card-img-top {
        transition: transform 0.3s;
    }

    .card:hover .card-img-top {
        transform: scale(1.1);
    }

    .card-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff; /* Attractive text color */
        font-size: 1.5em;
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .card:hover .card-text {
        opacity: 1;
    }

    .btn-group {
        display: flex;
        justify-content:center;
        gap: 10px;
        bottom: 0px;
    }

    .btn {
        width: 120px;
        height: 40px;
        font-size: 1em;
    }

</style>

<div class="container mt-4">
    <center><h1>Packages Offered</h1></center>
    <br /><br />
    <div class="row">
        @foreach (var package in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="~/uploads/@package.PackagePicturePath" class="card-img-top" alt="Package Image">
                    <div class="card-body">
                        <center> <h5 class="card-title">@package.PackageName</h5></center>
                        <br>
                        <div class="btn-group" role="group">
                            <a href="@Url.Action("ViewPackageInfo", new { id = package.PackageID })" class="btn btn-primary"><b>View</b></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
